<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="span3">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :meal_category_id, "Meal Category" %>
    <%= f.select(:meal_category_id, MealCategory.all.map {|c| [c.name, c.id]}) %>

    <%= f.label :region_id, "Region" %>
    <%= f.select(:region_id, Region.all.map {|r| [r.name, r.id]}) %>

    <%= f.label :occaision, "Enjoy it..." %>
    <%= f.text_field :occaision, class: "input_text" %>

    <%= f.label :image %>
    <%= f.text_field :image %>
    <%= f.label :author_id, "Author" %>
    <%= f.select(:author_id, Author.all.map {|a| [a.name, a.id]}) %>
    <% if @recipe.persisted? %>
      <% if @recipe.image.size > 0 %>
      <%=image_tag @recipe.image, size: '300x300', class: "photo_small" %>
      <% end %>
    <% end %>


      </div>
      <div class="span6 offset1">

    <% IngredientCategory.all.each do |ingredient_category| %>
      <% if ingredient_category.ingredients.any? %>
      <p class = "list_header"><%= ingredient_category.name.pluralize %></p>
      <% end %>
           <% ingredient_category.ingredients.each do |ingredient| %>
            <div class="ingredients_check_box">
             <%= checkbox(@recipe, ingredient) %>
             <%= ingredient.name %>
           </div>
          <% end %>
          <p></p>
      <% end %>
        <%= f.label :instructions, "Preparation instructions" %>
        <%= f.text_area :instructions, id: "instructions" %>


    <%= f.submit %>
  </div>
</div>
<% end %>

