<h2 class="show_title">Recipes</h2>

<%= link_to 'New Recipe', new_recipe_path %>
<br>

<div class="row">
    <div class="span8">
      <% grouped_recipes = @recipes.group_by(&:meal_category_id) %>
      <% MealCategory.all.each do |category| %>
          <% if grouped_recipes[category.id] %>
      <h3><%= category.name.pluralize %></h3>
            <% end %>
      <% recipes = grouped_recipes[category.id] %>
      <% if recipes %>
      <% recipes.each do |recipe| %>
      <p class="list_header">
        <%= link_to recipe.name, recipe %>
        </p>
        <p class="index_page">
          <% if recipe.author %>
            Recipe by
            <%= link_to recipe.author.name, recipe.author%>.
          <% end %>
          <% if recipe.occaision.length > 0 %>
          <%= "Enjoy it #{recipe.occaision}" %>
          <%end%>
        <%= link_to 'Edit', edit_recipe_path(recipe) %> |
        <%= link_to 'Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
      <% end %>
      <% end %>
 
      <% end %>
    </div>
    <div class="span3">
     <div class="filter_box">
        <%= form_tag(recipes_path, method:"get") do %>
          <%= label_tag :meal_category_id, "Meal Category" %>
          <%= select_tag "meal_category_id", options_for_select(MealCategory.all.collect{|a| [a.name, a.id]}), options = {include_blank: 'All'} %>
          <br>
          <%= label_tag :region_id, "Region" %>
          <%= select_tag "region_id", options_for_select(Region.all.collect{|a| [a.name, a.id]}), options = {include_blank: 'All'}  %>
          <br>
          <%= label_tag :author_id, "Author" %>
          <%= select_tag "author_id", options_for_select(Author.all.collect{|a| [a.name, a.id]}), options = {include_blank: 'All'} %>
          <br>
          <%= submit_tag("Filter") %>
        <% end %>



     </div>
    </div>
  </div>

