<p id="notice"><%= notice %></p>
  <div class='enclosure'>
    <h2 class="show_title"><%= @recipe.name %></h2>
    <div class="row">
      <div class="span6">
          <h3 id="mealtype"><%= @recipe.meal_category.name %></h3>
          <h4 id= "from">from</h4>
           <h3 id="region"><%= @recipe.region.name %></h3>
           <p class="occaision">Enjoy it
            <%= @recipe.occaision %>
           </p>
           <p class="list_header">Ingredents</p>
              <ul class="ingredients">
           <% @recipe.ingredients.each do |ingredient|%>
                <li><%= ingredient.name %></li>

            <% end %>
               </ul>
              <p class="author">Submitted
              <% if @recipe.author %>
              by
              <%= link_to @recipe.author.name, @recipe.author %>
              <% end %>
              <%= "on #{@recipe.created_at.to_date} and last updated #{distance_of_time_in_words(Time.now, @recipe.updated_at)} ago." %>
              </p>
           <% if can? :edit, Recipe %>
          <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
            <%end%>
          <%= link_to 'Back', recipes_path %>
      </div>

      <div class="span6">
          <% unless @recipe.recipe_image.blank? %>
            <%= image_tag @recipe.recipe_image.detail.url, class: "photo" %>
            <% end %>
            <br>
            <p class="list_header">Instructions</p>
            <p>
            <%= @recipe.instructions %>
            </p>
      </div>
    </div>



</div>



