<p id="notice"><%= notice %></p>
  <div class='enclosure'>
    <h2 class="show_title"><%= @author.name %></h2>
    <div class="row">
      <div class="span6">
          <p>
            <%= @author.biography %>
          </p>
          <%= link_to 'Edit', edit_author_path(@author) %> |
          <%= link_to 'Back', authors_path %>
      </div>

      <div class="span6">
        <div class="large_photo_crop">
          <% if @author.image.size >0 %>
            <%=image_tag @author.image, class: "author_photo" %>
              <% end %>
          </div>
            <p>
            <%=mail_to @author.email_address %>
            </p>
      </div>
    </div>



</div>
