<h3>Meal Categories</h3>

<ul class="index">
<% @meal_categories.each do |meal_category| %>
    <li class="list_header"><%= link_to meal_category.name, meal_category %> | <%= link_to 'Edit', edit_meal_category_path(meal_category) %> | <%= link_to 'Delete', meal_category, method: :delete, data: { confirm: 'Are you sure?' } %></li>

<% end %>
</ul>



 <%= link_to 'Back', manage_path %> | <%= link_to 'New Meal Category', new_meal_category_path %>
