<h3>Ingredient Categories</h3>

<ul class="index">
<% @ingredient_categories.each do |ingredient_category| %>
    <li class="list_header"><%= link_to ingredient_category.name, ingredient_category %> | <%= link_to 'Edit', edit_ingredient_category_path(ingredient_category) %> | <%= link_to 'Destroy', ingredient_category, method: :delete, data: { confirm: 'Are you sure?' } %></li>

<% end %>
</ul>

 <%= link_to 'Back', manage_path %> | <%= link_to 'New Ingredient category', new_ingredient_category_path %>
