<h3>Cuisine Regions</h3>

<ul class = "index">
<% @regions.each do |region| %>
  <li class="list_header"><%= link_to region.name, region %> | <%= link_to 'Edit', edit_region_path(region) %> | <%= link_to 'Delete', region, method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
</ul>


 <%= link_to 'Back', manage_path %> | <%= link_to 'New Region', new_region_path %>
