<!DOCTYPE html>
<html>
<head>
  <title>Recipe Hub</title>
  <link href='http://fonts.googleapis.com/css?family=Numans' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sarina' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>






  <div class="container">
    <h1>Recipe Hub</h1>
    <div class="navbar navbar-inverse">
     <div class="navbar-inner">
        <ul class="nav">
          <li><%= link_to('Recipes', recipes_path) %></li>
          <li><%= link_to('Authors', authors_path) %></li>
          <% if can? :manage, Ingredient, IngredientCategory, Region %>
          <li><%= link_to('Manage Ingredients and Categories', manage_path) %></li>
          <%end%>
          <%unless session[:user_id] %>
          <li><%= link_to("Login", sessions_new_path) %></li>
          <li><%= link_to("Register As New User", new_user_path) %></li>
          <%end%>
          <% if session[:user_id] %>
          <% if can? :edit, User %>
          <li><%= link_to("Edit Your Details", edit_user_path(session[:user_id]))%><li>
            <%end%>
            <%end%>
            <% if can? :manage, User %>
            <li><%= link_to("Users Admin", users_path) %><li>
            <%end%>
        </ul>
      </div>
    </div>

<% if current_user %>
    <p class="login_status"><%= "Logged in as #{current_user.email}" %> |
    <%= link_to 'Logout', session_path(session), method: :delete, data: {confirm: 'Are you sure?'} %>
  </p>
    <%else%>
    <p class="login_status">
      <%= link_to "Not currently logged-in" ,login_path, class:"login_status" %>
    </p>
  <%end%>

<% flash.each do |name, message| %>
  <div class='flash-message flash-message-<%=name%>'>
   <%"login_status"%><%=message %>
  </div>

<% end %>
<%= yield %>
</div>

</body>
</html>
